{% extends 'base.html' %}

{% block content %}
<h1>Local Library Home</h1>
<p>
    Welcome to Local Library, a Website developed by <em>Mozilla Developer Network</em> tutorial.
</p>
<h2>Dynamic content </h2>
<p>
    The library has the following records
</p>
<li>
    <strong>
        Books: 
    </strong>{{ num_books }}
</li>
<li>
    <strong>
        Copies: 
    </strong> {{ num_instances }}
</li>
<li>
    <strong>
        Copies Available: 
    </strong> {{ num_instances_available }}
</li>
<li>
    <strong>
       Authors: 
    </strong> {{ num_authors }}
</li>
<li>
    <strong>
       Genre: 
    </strong> {{ num_genre }}
</li>
<li>
    <strong>
       Django Books: 
    </strong> {{ num_dev }}
</li>


<p>
    You have visited this page {{ num_visits }} time{% if num_visits > 1 %}s
    {% endif %}.
</p>
{% endblock %}